<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.home.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.home.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingController</servlet-name>
        <servlet-class>controller.admin.SettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.home.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManage</servlet-name>
        <servlet-class>controller.admin.AccountManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.home.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorManage</servlet-name>
        <servlet-class>controller.admin.DoctorManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientManage</servlet-name>
        <servlet-class>controller.admin.PatientManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentManage</servlet-name>
        <servlet-class>controller.admin.AppointmentManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationManage</servlet-name>
        <servlet-class>controller.admin.ReservationManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>controller.home.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManage</servlet-name>
        <servlet-class>controller.admin.ServiceManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManage</servlet-name>
        <servlet-class>controller.admin.BlogManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>controller.home.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.admin.Dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingController</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManage</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorManage</servlet-name>
        <url-pattern>/doctormanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientManage</servlet-name>
        <url-pattern>/patientmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentManage</servlet-name>
        <url-pattern>/appointmentmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationManage</servlet-name>
        <url-pattern>/reservationmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManage</servlet-name>
        <url-pattern>/servicemanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManage</servlet-name>
        <url-pattern>/blogmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
